.containerP{
    background: linear-gradient(90deg, #727272 0%, #333333 100%);
    display: flex;
    /*padding: 15px;*/
    border-radius: 5px;
    border: 1px solid #727272 ;
    /*border: 1px solid brown;*/
    justify-content: space-between;
    text-align: start;
    margin: 3px;
    transition: all 0.2s ease-out;
}

.item{
    position: relative;
    color: #2cc3d9;
    width: 18%;
    text-align: start;
    margin: 15px;
    padding: 5px;
    /*border: 1px solid white;*/
}
.itemNumber{
    position: relative;
    color: #2cc3d9;
    width: 5%;
    text-align: center;
    margin: 15px;
    padding: 5px;
    border-radius: 100%;
    /*border: 1px solid white;*/
}
.itemDateExp{
    position: relative;
    color: #f1545e;
    width: 22%;
    text-align: start;
    margin: 15px;
    padding: 5px;
    /*border: 1px solid white;*/
}
.containerP:hover{
    transition: all 0.2s ease-out;
    border: 1px solid #2cc3d9 ;
    margin-left: 5px;
    margin-right: 1px;
}
.navLinkEdit {
    margin-top: 6px;
    text-decoration: none;
    padding: 0rem 1.1rem 0rem 1.1rem;
    /*background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);*/
    background: linear-gradient(90deg, rgb(138, 145, 141) 0%, rgb(31, 34, 38) 100%);
    /*color: lightgoldenrodyellow;*/
    color: #ddd1d1;
    justify-self: right;
    border-radius: 4px;
    border: white;

}

.navLinkEdit:hover{
    /*background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);*/
    background: linear-gradient(90deg, rgb(182, 190, 189) 0%, rgb(71, 78, 83) 100%);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: #fafafa;
    text-decoration: none;

}
.contButtons{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    /*position: relative;*/
    padding: 2px;
    /*background: #0ca0b8;*/
}
.navLinkClose {
    text-decoration: none;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;

    background: linear-gradient(90deg, rgb(16, 203, 63) 0%, rgb(7, 102, 56) 100%);
    /*color: lightgoldenrodyellow;*/
    /*align-self: center;*/
    border: 1px solid #413e3e;
    color: #101001;

    border-radius: 3px;
    margin-right: 5px;
    /*border: white;*/

}
@media(max-device-width: 678px) {
    .navLinkClose {
        padding: 0.2rem 0.7rem 0.2rem 0.7rem;
        font-size: 22px;
    }
}

.navLinkClose:hover{
    /*background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);*/
    background: linear-gradient(90deg, rgb(10, 103, 35) 0%, rgb(2, 31, 16) 100%);
    border-radius: 4px;
    border: 1px solid #413e3e;
    transition: all 0.2s ease-out;
    color: #e7e4e4;
    text-decoration: none;

}
