
.example-enter {
    opacity: 0.01;
    transform: scale(0.7);
}

.example-enter.example-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in;
}

/*.example-exit {*/
/*    opacity: 1;*/
/*}*/

/*.example-exit-active {*/
/*    opacity: 0.01;*/
/*    transform: scale(0.9);*/
/*    transition: opacity 900ms ease-in;*/
/*}*/




/*.example-enter-active {*/
/*    animation: fadeIN 1s forwards;*/
/*}*/

.example-exit-active {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIN {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(100%);
    }
}
