
.MyContainer{
    display: flex;
    /*align-self: center;*/
    /*background: white;*/
    padding-bottom: 100px;
    width: 99%;
    justify-content: center;
    /*align-content: center;*/
    /*text-align: center;*/


}
@media(max-device-width: 678px) {
    .MyContainer {

        max-width: 100%;
        max-height:100%;
        overflow-y: auto;


    }
}
.form-container {
    /*position: absolute;*/
    /*left: 33%;*/
    /*transform: translate(-50%, -50%);*/
    align-self: center;
    justify-self: center;
    text-align: center;
    /*background: green;*/
    width: 500px;
    height: 720px;
    justify-content: center;
    margin-left: 25px ;
    margin-right: 25px;
}
@media(max-device-width: 678px) {
    .form-container {
        margin-left: 5px ;
        margin-right: 5px;
        background: #61dafb;
        height: 780px;
        font-size: 12px;
        /*height: 900px;*/
    }
}

/*.invalid-feedback {*/
/*  display: block;*/
/*}*/

.card {
    /*background: green;*/
    margin-top: 2%;
}
@media(max-device-width: 678px) {
    .card {
        margin-top: 1px;
    }
    .error{
        font-size: 12px;
    }
}

.error{
    color: #941f1f;
    font-size: 12px;
}
@media(max-device-width: 678px) {
    .is-invalid {
        /*background: #0e9d93;*/
        font-size: 13px;
    }
}


.steps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 2%;
}
@media(max-device-width: 678px) {
    .steps {
        margin-top: 1px;
    }
}

.step {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-align: center;
    align-items: center;
}

.step:not(:first-child)::before {
    height: 0.05rem;
    width: 100%;
    bottom: 0;
    left: -50%;
    top: 1rem;
    content: ' ';
    display: block;
    position: absolute;
    background: #807a7a;
}

.step__marker {
    width: 30px;
    height: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    -ms-flex-pack: center;
    justify-content: center;
    background: #837d7d;
    color: #d0d0c9;
    border: 2px solid #d0d0c9;
    z-index: 1;
}
@media(max-device-width: 678px) {
    .step__marker {
        width: 40px;
        height: 40px;
    }
}

.step.is-completed:not(:first-child)::before {
    /*background: linear-gradient(90deg, rgb(140, 145, 144) 0%, rgb(37, 44, 48) 100%);*/
    background: rgb(183, 179, 179);
}

.step.is-completed .step__marker {
    background: linear-gradient(90deg, rgb(152, 157, 155) 0%, rgb(37, 44, 48) 100%);
    border: 2px solid #8a8888;
}

.step.is-active:not(:first-child)::before {
    background: #CD5C5C;
}

.step.is-active .step__marker {
    background: linear-gradient(90deg, rgb(152, 157, 155) 0%, rgb(37, 44, 48) 100%);
    border: 2px solid #CD5C5C;
}

.step__title {
    font-weight: 600;
}
.avatar-preview{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    width: 300px;
}

.custom-file-label{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #61dafb;
}

.avatar-view{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    margin-bottom: 20px;
}
@media(max-device-width: 678px) {
    .avatar-view {
        width: 12vh;
        height: 100%;
    }
}
.w-50{
    position: relative;
    justify-content: center;
    margin-top: 2%;
}

.pagination{
    /*position: absolute;*/
    justify-self: center;
    /*width: 750px;*/
    text-align: center;
    align-self: center;

}

.red_text{
    color: #bc2828
}
.navLink {
    text-decoration: none;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    background: linear-gradient(90deg, rgb(140, 143, 143) 0%, rgb(71, 69, 69) 100%);
    color: lightgoldenrodyellow;
    border: none;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}
@media(max-device-width: 678px) {
    .navLink {
        padding: 0.2rem 0.9rem 0.2rem 0.9rem;
       font-size: 26px;
    }
}

.navLink:hover{
    /*background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);*/
    background: linear-gradient(90deg, rgb(193, 187, 187) 0%, rgb(117, 115, 115) 100%);
    color: #f8f8f6;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    margin-right: 2px;

}
@media(max-device-width: 678px) {
    .navLink:hover {
        font-size: 26px;
    }
}
.navLinkNext {
    background: none;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 60px solid rgb(138, 145, 141);
    border-bottom: 30px solid transparent;
    border-right: none;
    transition: .2s linear;
}
@media(max-device-width: 678px) {
    .navLinkNext {
        border-left: 40px solid rgb(187, 193, 192);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}
.navLinkNext:hover{
    border-left: 60px solid rgb(94, 96, 96);
    transition: .2s linear;


}
@media(max-device-width: 678px) {
    .navLinkNext:hover {
        border-left: 40px solid rgb(94, 96, 96);
    }
}

.navLinkNextClicked{
    background: none;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 60px solid rgb(187, 193, 192);
    border-bottom: 30px solid transparent;
    border-right: none;
    opacity: 80%;
    transition: .2s linear;
}
@media(max-device-width: 678px) {
    .navLinkNextClicked {
        border-left: 40px solid rgb(187, 193, 192);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}
.navLinkNextClicked:hover{
    border-left: 60px solid rgb(171, 179, 176);
    transition: .2s linear;
}
@media(max-device-width: 678px) {
    .navLinkNextClicked:hover {
        border-left: 40px solid rgb(187, 193, 192);
    }
}


.navLinkPrev {
    background: none;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 60px solid rgb(138, 145, 141);
    border-bottom: 30px solid transparent;
    border-left: none;
    transition: .2s linear;
}
@media(max-device-width: 678px) {
    .navLinkPrev {
        border-right: 40px solid rgb(187, 193, 192);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}

.navLinkPrev:hover{
    border-right: 60px solid rgb(94, 96, 96);
    transition: .2s linear;

}
@media(max-device-width: 678px) {
    .navLinkPrev:hover {
        border-right: 40px solid rgb(94, 96, 96);
    }
}
.navLinkPrevClicked{
    background: none;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 60px solid rgb(187, 193, 192);
    border-bottom: 30px solid transparent;
    border-left: none;
    transition: .2s linear;
    opacity: 50%;

}
@media(max-device-width: 678px) {
    .navLinkPrevClicked {
        border-right: 40px solid rgb(187, 193, 192);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}
.navLinkPrevClicked:hover{
    border-right: 60px solid rgb(171, 179, 176);
    transition: .2s linear;
}
@media(max-device-width: 678px) {
    .navLinkPrevClicked:hover {
        border-right: 40px solid rgb(171, 179, 176);
    }
}

.info{
    /*margin-top: 20px;*/
    justify-content: center;
    text-align: left;
    /*background: white;*/
    margin-left: 170px;
    margin-bottom: 40px;
}
@media(max-device-width: 678px) {
    .info {
     font-size: 17px;
        /*background: #f36868;*/
        margin-left: 12vw;
    }
    .form-check-label{
        font-size: 16px;
        margin-bottom: 10px;
    }
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #dcdedc;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #e9e4e4;
}
@media(max-device-width: 678px) {
    input[type='radio']:after {
        width: 25px;
        height: 25px;
    }
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #7e8585;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d0cece;
}
@media(max-device-width: 678px) {
    input[type='radio']:checked:after {
        width: 25px;
        height: 25px;
    }
}
#checker{
margin-left: -18px;
}
@media(max-device-width: 678px) {
    #checker {
        margin-left: -18px;
    }
    .form-check-label{
        margin-left: 10px;
    }
}

input[type='checkbox']:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -4px;
    left: -8px;
    position: relative;
    background-color: #fcfcfd;
    content: '';
    display: inline-grid;
    visibility: visible;
    border: 5px solid #fcfcfd;
}
@media(max-device-width: 678px) {
    input[type='checkbox']:after {
        width: 30px;
        height: 30px;
    }
}

input[type='checkbox']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -4px;
    left: -8px;
    position: relative;
    background-color: #3da4b7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid #fcfcfd;

}
@media(max-device-width: 678px) {
    input[type='checkbox']:checked:after {
        width: 30px;
        height: 30px;

    }
}

#sub{
    margin-top: 20px;
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    border-color: #019cb8 ;
    border-radius: 1px;
    color: lightgoldenrodyellow;
}
#sub:hover{
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    color: #f8f8f6;

}
.my{
    background: none;
}
.my:hover{
    border-color: #0ca0b8;
    box-shadow: #019cb8;
}

input[type="text"]{
    background: none;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    /*box-shadow: 2px 2px 2px 4px #a5d0d0;*/
    border: 1px solid #019cb8;


}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #d4d1d1 inset !important;
}

input[type="password"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    /*box-shadow: 2px 2px 2px 4px #a5d0d0;*/
    border: 1px solid #019cb8;
}
input[type="password"]{
    background: none;
}
input[type="number"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    /*box-shadow: 1px 1px 1px 2px #a5d0d0;*/
    border: 1px solid #019cb8;
}
input[type="number"]{
    background: none;
}
input[type="file"]:focus,
select.custom-file-label:focus {
    -webkit-box-shadow: none;
    /*box-shadow: 2px 2px 2px 4px #a5d0d0;*/
    border: 1px solid #019cb8;
}
input[type="file"]{
    background: none;
}
input[type="email"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    /*box-shadow: 2px 2px 2px 4px #a5d0d0;*/
    border: 1px solid #019cb8;
}
input[type="email"]{
    background: none;
}
option::selection{
   background: none ;
    color: #61dafb;
}
option{
    background: none;
}
select{
    background: none;
}

.empty{
    display: none;
}
.response{
    margin-bottom: 20vh;
    padding: 3%;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 19px;
    color: #10bad9;
    border: 1px solid #04c5e9;
    border-radius: 50px;
}
@media(max-device-width: 678px) {
    .response {
        font-size: 16px;
    }
}
.mesText{
    font-size: 16px;
    color: #10bad9;
}
@media(max-device-width: 678px) {
    .mesText {
        font-size: 16px;
    }
}

.form-container {
    background: none;
    border: none;
}

@media(max-device-width: 678px) {
    .form-group {
        /*background: #0e9d93;*/
        font-size: 16px;
    }

    .my{
        /*background: #61dafb;*/
        height: 6vh;
        font-size: 16px;
    }
}
.containerResponse{
    display: flex;
    width: 82vw;
    height: 92vh;
    justify-content: center;
}
.responseInside{
    /*margin-top: 15%;*/
    position: relative;
    padding: 3%;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 19px;
    color: #019cb8;
    /*background: white;*/
    border: 1px solid #019cb8;
    border-radius: 50px;
    margin-bottom: 20vh;
}
