
.MyContainer{
    display: flex;
    /*align-self: center;*/
    /*background: white;*/
    margin-bottom: 70px;
    width: 65%;
    justify-content: center;
    /*align-content: center;*/
    /*text-align: center;*/


}
.form-container {
    /*position: absolute;*/
    /*left: 33%;*/
    /*transform: translate(-50%, -50%);*/
    align-self: center;
    justify-self: center;
    text-align: center;
    /*background: green;*/
    width: 500px;
    height: 720px;
    justify-content: center;
    margin-left: 25px ;
    margin-right: 25px;
}

/*.invalid-feedback {*/
/*  display: block;*/
/*}*/

.card {
    /*background: green;*/
    margin-top: 2%;
}

.error{
    display: block;
    color: red;
    font-size: 12px;
}

.steps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2%;
}

.step {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-align: center;
    align-items: center;
}

.step:not(:first-child)::before {
    height: 0.05rem;
    width: 100%;
    bottom: 0;
    left: -50%;
    top: 1rem;
    content: ' ';
    display: block;
    position: absolute;
    background: #b5b5b5;
}

.step__marker {
    width: 30px;
    height: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    -ms-flex-pack: center;
    justify-content: center;
    background: #b5b5b5;
    color: #fff;
    border: 2px solid #faf7f7;
    z-index: 1;
}

.step.is-completed:not(:first-child)::before {
    /*background: linear-gradient(90deg, rgb(140, 145, 144) 0%, rgb(37, 44, 48) 100%);*/
    background: rgb(183, 179, 179);
}

.step.is-completed .step__marker {
    background: linear-gradient(90deg, rgb(152, 157, 155) 0%, rgb(37, 44, 48) 100%);
    border: 2px solid #fffefe;
}

.step.is-active:not(:first-child)::before {
    background: #CD5C5C;
}

.step.is-active .step__marker {
    background: linear-gradient(90deg, rgb(152, 157, 155) 0%, rgb(37, 44, 48) 100%);
    border: 2px solid #fffefe;
}

.step__title {
    font-weight: 600;
}
.avatar-preview{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    width: 300px;
}

.custom-file-label{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #61dafb;
}

.avatar-view{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-bottom: 20px;
}

.w-50{
    position: relative;
    justify-content: center;
    margin-top: 2%;
}

.pagination{
    /*position: absolute;*/
    justify-self: center;
    /*width: 750px;*/
    text-align: center;
    align-self: center;

}

.red_text{
    color: red
}
.navLink {
    text-decoration: none;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    background: linear-gradient(90deg, rgb(140, 143, 143) 0%, rgb(71, 69, 69) 100%);
    color: lightgoldenrodyellow;
    border: none;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}

.navLink:hover{
    /*background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);*/
    background: linear-gradient(90deg, rgb(193, 187, 187) 0%, rgb(117, 115, 115) 100%);
    color: #f8f8f6;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    margin-right: 2px;

}
.navLinkNext {
    background: none;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(138, 145, 141);
    border-bottom: 50px solid transparent;
    border-right: none;
    transition: .2s linear;
}

.navLinkNext:hover{
    border-left: 100px solid rgb(94, 96, 96);
    transition: .2s linear;


}

.navLinkNextClicked{
    background: none;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(187, 193, 192);
    border-bottom: 50px solid transparent;
    border-right: none;
    opacity: 80%;
    transition: .2s linear;


}
.navLinkNextClicked:hover{
    border-left: 100px solid rgb(171, 179, 176);
    transition: .2s linear;
}
.navLinkPrev {
    background: none;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid rgb(138, 145, 141);
    border-bottom: 50px solid transparent;
    border-left: none;
    transition: .2s linear;
}

.navLinkPrev:hover{
    border-right: 100px solid rgb(94, 96, 96);
    transition: .2s linear;

}

.navLinkPrevClicked{
    background: none;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid rgb(187, 193, 192);
    border-bottom: 50px solid transparent;
    border-left: none;
    transition: .2s linear;
    opacity: 50%;

}
.navLinkPrevClicked:hover{
    border-right: 100px solid rgb(171, 179, 176);
    transition: .2s linear;
}

.info{
    /*margin-top: 20px;*/
    justify-content: center;
    text-align: left;
    /*background: white;*/
    margin-left: 170px;
    margin-bottom: 40px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #64a0a0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#checker{
margin-left: -18px;
}
input[type='checkbox']:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -4px;
    left: -4px;
    position: relative;
    background-color: #cfcaca;
    content: '';
    display: inline-grid;
    visibility: visible;
    border: 5px solid #fcfcfd;
}

input[type='checkbox']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -4px;
    left: -4px;
    position: relative;
    background-color: #3da4b7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid #fcfcfd;
}
#sub{
    margin-top: 10px;
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    border-color: #019cb8 ;
    color: lightgoldenrodyellow;
}
#sub:hover{
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    color: #f8f8f6;

}

.my:hover{
    border-color: #0ca0b8;
    box-shadow: #019cb8;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ebf8f4 inset !important;
}

input[type="password"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}
input[type="number"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}
input[type="file"]:focus,
select.custom-file-label:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}
input[type="email"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}

option::selection{
   background-color: #d3d92c;
    color: #61dafb;
}
.empty{
    display: none;
}
.response{
    /*margin-top: 15%;*/
    /*position: relative;*/
    padding: 3%;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 19px;
    color: #019cb8;
    /*background: white;*/
    border: 1px solid darkslategrey;
    border-radius: 50px;
}
.mesText{
    font-size: 18px;
    color: #c85b5b;
}
.form-container {
    background: none;
    border: none;
}
