
.form-container {
    position: absolute;
    left: 33%;
    /*transform: translate(-50%, -50%);*/
    width: 500px;
    height: 660px;
    justify-content: center;
}

/*.invalid-feedback {*/
/*  display: block;*/
/*}*/

.card {
    margin-top: 2%;
}

.error{
    display: block;
    color: red;
    font-size: 12px;
}

.steps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2%;
}

.step {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-align: center;
    align-items: center;
}

.step:not(:first-child)::before {
    height: 0.1em;
    width: 100%;
    bottom: 0;
    left: -50%;
    top: 1rem;
    content: ' ';
    display: block;
    position: absolute;
    background: #b5b5b5;
}

.step__marker {
    width: 35px;
    height: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    -ms-flex-pack: center;
    justify-content: center;
    background: #b5b5b5;
    color: #fff;
    border: 4px solid #fff;
    z-index: 1;
}

.step.is-completed:not(:first-child)::before {
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
}

.step.is-completed .step__marker {
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    border: 4px solid #fffefe;
}

.step.is-active:not(:first-child)::before {
    background: #8ed6d4;
}

.step.is-active .step__marker {
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    border: 4px solid #8ed6d4;
}

.step__title {
    font-weight: 700;
}
.avatar-preview{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    width: 300px;
}

.custom-file-label{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #61dafb;
}

.avatar-view{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    width: 200px;
}

.w-50{
    position: relative;
    justify-content: center;
    margin-top: 2%;
}

.pagination{
    justify-content: space-between;
    margin: 10px;
}

.red_text{
    color: red
}
.navLink {
    text-decoration: none;
    padding: 0.4rem 0.9rem;
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    color: lightgoldenrodyellow;
    border-radius: 4px;
    border: white;
}

.navLink:hover{
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: #fcfcf7;
    text-decoration: none;

}
.navLinkClicked{
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    background: linear-gradient(90deg, rgb(231, 245, 245) 0%, rgb(193, 198, 200) 100%);
    color: darkolivegreen;
    border-radius: 4px;


}
.navLinkClicked:hover{
    text-decoration: none;
    background: linear-gradient(90deg, rgb(242, 248, 248) 0%, rgb(196, 208, 210) 100%);
    color: darkolivegreen;
}
.info{
    justify-content: left;
    text-align: left;

}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #64a0a0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#checker{
margin-left: -16px;
}
input[type='checkbox']:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -2px;
    left: -4px;
    position: relative;
    background-color: #cfcaca;
    content: '';
    display: inline-grid;
    visibility: visible;
    border: 5px solid #fcfcfd;
}

input[type='checkbox']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -2px;
    left: -4px;
    position: relative;
    background-color: #3da4b7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid #fcfcfd;
}
#sub{
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    border-color: #019cb8 ;
    color: lightgoldenrodyellow;
}
#sub:hover{
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    color: #f8f8f6;

}

.my:hover{
    border-color: #0ca0b8;
    box-shadow: #019cb8;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ebf8f4 inset !important;
}

input[type="password"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}
input[type="number"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}
input[type="file"]:focus,
select.custom-file-label:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}
input[type="email"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px 4px #a5d0d0;
    border: 1px solid #019cb8;
}

option::selection{
   background-color: #d3d92c;
    color: #61dafb;
}

