
.headerTop{
    display: flex;
    width: 100%;
    height: 8vh;
    background: #242323;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 70;
}
@media(max-device-width: 850px) {
    .headerTop {
        /*background-color: #d4bd02;*/
        justify-content: space-between;
        width: 100vw;
        /*height: 102px;*/
    }
}
.headerTopLogo{
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 8vh;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;


}
@media(max-device-width: 678px) {
    .headerTopLogo {
        margin-top: 10px;


    }
}

/*.headerTopNavbar{*/
/*    display: flex;*/
/*    flex: 1;*/
/*    flex-direction: column;*/
/*    background-color: darkgreen;*/
/*}*/
/*.headerTopNavigation{*/
/*    display: flex;*/
/*    flex: 1;*/
/*    flex-direction: row;*/
/*    justify-content: flex-end;*/
/*    margin-right: 55px;*/
/*    background-color: red;*/
/*}*/

.headerLogo{
    color: inherit;
    height: 8vh;
    text-decoration: inherit;
    font-size: 100px;
}

.headerTopSeparator{
    width: 100%;
    border: none;
    height: 1px;
    /*margin-top: 2px;*/
    background-color: #b85050;
}

.userBody{
    background: #61dafb;
}
.username:hover{
    border: 1px solid #2a88c6;
    text-decoration: none;
    color: rgb(47, 44, 44);;
}

