
.headerTop{
    display: flex;
    width: 100%;
    height: 72px;
    /*background-color: #333333;*/
}
.headerTopLogo{
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;

}

.headerTopNavbar{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: darkgreen;
}
.headerTopNavigation{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
    background-color: red;
}

.headerLogo{
    color: inherit;
    text-decoration: inherit;
    font-size: 100px;
}
.headerTopSeparator{
    width: 100%;
    border: none;
    height: 1px;
    /*margin-top: 2px;*/
    background-color: #b85050;
}

.userBody{
    background: #61dafb;
}
.username:hover{
    border: 1px solid #2a88c6;
    text-decoration: none;
    color: rgb(47, 44, 44);;
}

