
.M {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 1px;
    min-height: 91vh;
    min-width: 37vh;
    transition-property: opacity;
    transition-duration: 2s;
    padding-bottom: 15vh;
}

@media (max-device-width: 678px) {
    .M {
        /*background: #a73e3e;*/
        min-height: 88vh;
        width: 95vw;

    }
}

.center {
    /*background: beige;*/
    justify-self: start;
    margin-bottom: 10vh;

}

.responseLog {
    /*margin-top: 15%;*/
    /*position: relative;*/
    padding: 3%;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 19px;
    color: #10bad9;
    border: 1px solid #04c5e9;
    border-radius: 50px;
}

.error {
    display: block;
    color: red;
    font-size: 12px;
}

@media (max-device-width: 678px) {
    .error {
        font-size: 12px;
    }
}

.containerForgotPass {
    display: flex;
    justify-content: flex-end;
}

.containerButtons {
    display: flex;
    /*justify-content: flex-start;*/
    /*background: beige;*/
}

.forgotPass {
    margin-right: 10px;
    color: #0f99de;
    font-size: 16px;
}

@media (max-device-width: 678px) {
    .forgotPass {
        font-size: 16px;
    }
}

.forgotPass:hover {
    margin-right: 10px;
    color: #5ccaf3;
    cursor: pointer;

}

.titlePassword {
    font-size: 22px;
    color: #858583;
}

@media (max-device-width: 678px) {
    .titlePassword {
        font-size: 22px;
    }
}

.userDetail {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 2;
    color: #8f9396;
    padding: 5px;
    font-size: 17px;

}

@media (max-device-width: 850px) {
    .userDetail {
        font-size: 17px;
        width: 95vw;

    }
}

.flexOne {
    display: flex;
    flex-direction: column;
    align-self: start;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px;

}

.ti {
    /*background: white;*/
    align-self: start;
}

.w-50 {
    position: relative;
    align-self: center;
    margin-top: 2%;
    font-size: 1.7vh;
}

@media (max-device-width: 850px) {
    .w-50 {
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 17px;
        border-radius: 8px;
    }
}

.back {
    align-self: center;
    justify-self: center;
    padding: 6px 10px 6px 10px;
    margin-right: 3vh;
    margin-left: 5px;
    margin-top: 2%;
    border-radius: 5px;
    border: none;
}

@media (max-device-width: 850px) {
    .back {
        margin-right: 12%;
    }
}

.back:hover {
    cursor: pointer;
}

.editButton {
    color: #81817c;
    border: 1px solid ;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 2px;
}

.editButton:hover {
   color: #a8acac;
    text-decoration: none;
}

.arrow-left span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #1b9096;
    border-left: 3px solid #1b9096;

    margin: -2px;
    animation: arrow-left 1s infinite;
    float: left;
}

.arrow-left span:nth-child(2) {
    animation-delay: -0.1s;
}

.arrow-left span:nth-child(3) {
    animation-delay: -0.2s;
}

@keyframes arrow-left {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-0px, -0px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }
}
