
.mainContainer {
    display: flex;
    position: relative;
    justify-content: flex-start;
    /*background: #b51818;*/
    /*margin-bottom: 6%;*/
    border-radius: 8px;
    padding: 13px;
    transition-property: opacity;
    transition-duration: 2s;
    z-index: 20;
    height: 82vh;

}


/*@media (max-device-width: 678px) {*/
@media (max-device-width: 825px) {
    .mainContainer {
        /*background: #b51818;*/
        flex: 1 1 auto;
        width: 100%;
        flex-direction: column;
        height: 1900px;
    }

    .videoWrapper {
        display: none;
    }
}
@media (max-device-height: 767px) {
    .mainContainer {
        width: 100%;
        height: 1420px;
    }
}
@media (max-device-height: 568px) {
    .mainContainer {
        width: 100%;
        height: 280vh;
    }
}
@media (max-device-height: 468px) {
    .mainContainer {
        /*height: 380vw;*/
        width: 100%;
        /*background: #61dafb;*/
    }
}
/*@media (max-device-height: 568px) {*/
/*    .mainContainer {*/
/*        height: 1340px;*/
/*    }*/
/*}*/
@media (max-device-height: 415px) {
    .mainContainer {
        height: 940px;
    }
}
/*.videoWrapper{*/
/*    display: none;*/
/*}*/
.phonePhoto {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    height: 50%;
    /*background-color: #8c6d29;*/
    border-radius: 8px;

}
.imgMain{
    /*height: 70vh;*/
    width: 28vh;
    opacity: 60%;
    /*border: 1px solid white;*/
}
.containerImages{
    display: flex;
    width: 100%;
    flex-direction: column;
    /*border: 1px solid white;*/

}

/*@media (max-device-width: 678px) {*/
@media (max-device-width: 812px) {
    .phonePhoto {
        /*background: #b51818;*/
        height: 70vh;
    }
    img{
        height: 70vh;
    }
}
@media (max-device-width: 1210px) {
    .phonePhoto {
        /*background: #b51818;*/
        height: 50vh;
    }
    img{
        height: 50vh;
    }
}
.text {
    font-size: 1.8vh;
    line-height: 2;
    height: 68vh;
    /*letter-spacing: 0.3px;*/
    color: #8f9396;
    padding: 15px 15px 15px 30px;
    position: center;
    text-align: left;
    justify-content: center;
    /*background-color: white;*/
    border-radius: 5px;

}
@media (max-device-width: 1280px) {
    .text {
        font-size: 1.8vw;
    }
}
/*@media (max-device-width: 678px) {*/
@media (max-device-width: 812px) {
    .text {
        font-size: 17px;
    }
}
@media (max-device-height: 440px) {
    .text {
        font-size: 5px;
    }
}
@media (max-device-height: 800px) {
    .text {
        font-size: 14px;
    }
}

.startButton {
    position: relative;
    margin-right: 5%;
    text-align: end;
    color: #6d726d;
    height: 5vh;
    font-size: 19px;
    z-index: 2;
    /*background: #2a88c6;*/
}

.shopi {
    color: #CD5C5C;
    border: 1px solid;
    padding: 4px;
}

.shopi:hover {
    color: #6d726d;
    text-decoration: none;

}

.title {
    position: relative;
    color: #6d726d;
    height: 4.3vh;
    font-size: 20px;
    margin-bottom: 5px;
    z-index: 2;
    /*background: #61dafb;*/
}

.title2 {
    position: relative;
    justify-content: center;
    margin-right: 320px;
    text-align: center;
    color: #9d9d10;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*@media (max-device-width: 678px) {*/
    @media (max-device-width: 812px) {
    .title2 {
        margin-right: 0px;
    }
    .title {
        margin-top: 20px;
    }
}

.href {
    margin-right: 5px;
    font-size: 18px;
    text-decoration: none;
    /*border-radius: 1px;*/
    color: #2cc3d9;
    /*background: #53534e;*/
    border: 1px solid #53534e;
    padding: 5px 8px;
    margin-top: 50px;
}

/*@media (max-device-width: 678px) {*/
@media (max-device-width: 812px) {
    .href {
        font-size: 24px;

    }
}

.href:hover {
    /*background: #e0e0d9;*/
    /*opacity: 90%;*/
    color: #53534e;
    text-decoration: none;
}

.download {
    margin-top: 40px;
    margin-bottom: 20px;
}

.li {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

/*@media (max-device-width: 678px) {*/
@media (max-device-width: 812px) {
    img {
        max-width: 120%;
    }
}
.videoWrapper{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
