.response{
    /*margin-top: 15%;*/
    position: relative;
    padding: 3%;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 19px;
    color: #019cb8;
    /*background: white;*/
    border: 1px solid #019cb8;
    border-radius: 50px;
    margin-bottom: 8vh;
}
.mesText{
    font-size: 18px;
    color: #019cb8;
}
.container{
    display: flex;
    width: 82vh;
    height: 92vh;
    justify-content: center;
    border: 1px solid white;
}
