.navBarWrapper {
    display: flex;
    flex-direction: row;
}

.navbarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;

}

.navbarItems {
    background: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.navbarLogo {
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;

}

.navbarIcon {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.navBarActive {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 14px;
    list-style: none;
    width: 83vw;
    margin-top: 20px;
    text-align: center;
    justify-content: end;
    background-color: white;

}

.navBarDisabled {
    display: none;
}

.navLink {
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    color: lightgoldenrodyellow;
    border-radius: 4px;
}

.navLink:hover{
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: #fcfcf7;
    text-decoration: none;


}
.navLinkClicked{
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    background: linear-gradient(90deg, rgb(231, 245, 245) 0%, rgb(193, 198, 200) 100%);
    color: darkolivegreen;
    border-radius: 4px;


}
.navLinkClicked:hover{
    text-decoration: none;
    background: linear-gradient(90deg, rgb(242, 248, 248) 0%, rgb(196, 208, 210) 100%);
}
.disabled{
    display: none;
}
