.App {
  min-height: 100%;
  text-align: center;
  /*background: #e3dcdc*/

}
.loading {
  position: absolute;
  top: 43%;
  left: 45%;
  padding: 10px 30px 10px 40px;
  opacity: 60%;
  text-align: center;
  background: linear-gradient(90deg, rgb(24, 71, 70) 0%, rgb(63, 65, 2) 100%);
  font-size: 17px;
  color: #ffffff;
  border-radius: 25px;
}
