.App {
  min-height: 100%;
  text-align: center;
  /*background: #e3dcdc*/

}
.loading {
  position: absolute;
  top: 40%;
  left: 49%;
  opacity: 90%;

}
.loadingForSpinner {
  position: absolute;
  top: 40%;
  left: 49%;
  width: 0;
  height: 0;
  opacity: 70%;
  background: #b6b9ba;
  border-radius: 100%;
  border-style: solid;
  border-width: 20px;
  border-top-color: rgb(30, 141, 140);
  border-right-color: transparent;
  border-bottom-color: rgb(30, 141, 140);
  border-left-color: transparent;

}

