
body {
  margin: 0;
  font-weight: lighter;
  font-family:
          Poppins, sans-serif;
/*'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
