
.footerSocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.footerSocialMediaIcon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
}

.footerInfo  {
    display: flex;
    justify-content: center;
   /*background: #181717;*/
    font: 100% sans-serif;
}
/*@media(max-device-width: 678px) {*/
    @media(max-device-width: 850px) {
    .footerInfo {
        flex-direction: column;

    }
}
.footerInfoLeft, .footerInfoCenter, .footerInfoRight {
    font-size: 1.1vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;

}
/*@media(max-device-width: 678px) {*/
@media(max-device-width: 850px) {
    .footerInfoLeft, .footerInfoCenter,
    .footerInfoRight{
        font-size: 12px;
        width: 40%;
        padding-bottom: 3px;
        /*border: 1px solid #a7715e;*/
        align-self: center;
        border-bottom: 1px solid #bebaba;

    }
    .footerInfoName, .footerInfoEmail{
        align-self: start;
    }
    .footerInfoNumber{
        align-self: center;
    }
}

.footerInfoNumber, .footerInfoName{
    margin-bottom: 5px;
}
 .footerInfoEmail {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}
.footerStartContainer{
    text-align: start;
    align-self: flex-end;
}
.elementCenter{
    padding-top: 1px;
    padding-bottom: 5px;
}

.footerInfoName, .footerInfoReturns {
    text-align: start;
}
.footerInfoReturns{
    margin-bottom: 6px;
}
.footerInfoEmail, .footerInfoTerms {
    text-align: center;
}

.footerInfoNumber {
    text-align: end;
    margin-bottom: 5px;

}
.footerInfoContact{
    margin-bottom: 5px;
    border-radius: 1px;
    border: 1px solid;
    padding: 4px 10px;
    align-self: flex-end;
}
/*@media(max-device-width: 678px) {*/
@media(max-device-width: 850px) {
    .footerInfoContact{
        align-self: center;

    }
}
.footerInfoContact:hover{
    color: #dbd8d8;
    cursor: pointer;
}
.footerDate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerSeparator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

.footerName {
    display: flex;
    justify-content: center;
}

.footerBottomName {
    text-transform: uppercase;
    font-size: large;
    margin: 0px 20px;
}
.linked{
    font-size: large;
    text-decoration: none;
    margin-top: 5px;
    color: rgb(36, 171, 233);
}
/*@media(max-device-width: 678px) {*/
@media(max-device-width: 850px) {
    .linked{
        font-size: 20px;
    }
}
.linked:hover{
    color: rgb(162, 205, 212);
    text-decoration: none;
}
