

.container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    /*background: #b5b5b5;*/
    width: 80%;
    min-height: 82vh;
    margin-bottom: 100px;
    transition-property: opacity;
    transition-duration: 2s;
}
@media(max-device-width: 678px) {
    .container {
        width: 100%;
        font-size: 14px;
    }
}
.addProdCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-self: center;
    /*margin-left: 35%;*/
    /*background: #e22626;*/
    width: 300px;
    margin-bottom: 20px;
}

@media(max-device-width: 678px) {
    .addProdCont {
        /*width: 100vw;*/
        /*flex-direction: column;*/
        /*margin-left: 1px;*/
    }
}
.googleMaps{
    width: 100%;
    /*background: #4d9290;*/
    text-align: end;
}

@media(max-device-width: 678px) {
    .googleMaps {
        width: 100%;
        /*background: #4d9290;*/
    }
}
.coord{
    color: #0e9d93;
    font-size: 16px;
}
@media(max-device-width: 678px) {
    .coord {
        font-size: 22px;
        margin-right: 20px;
    }
}
.coord:hover{
    color: #858591;
    /*text-decoration: none;*/
    font-size: 16px;
}
.contForm{
    width: 300px;
    /*background: white;*/
}
@media(max-device-width: 678px) {
    .contForm {
        width: 500px;
        /*background: #d67777;*/
    }
}
.buttonAdd{
    justify-content: end;
    text-align: end;
    align-content: end;
    margin-top: 20px;
}

.navLink {
    text-decoration: none;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    color: lightgoldenrodyellow;
    border: none;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}
@media(max-device-width: 678px) {
    .navLink {
       font-size: 18px;
    }
}

.navLink:hover{
    /*background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);*/
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    color: #f8f8f6;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    margin-right: 2px;

}
@media(max-device-width: 678px) {
    .navLink:hover {
        font-size: 18px;
    }
}
.buttonAdd2{
    display: flex;
    justify-content: space-between;
    /*text-align: end;*/
    /*background: #8d2c96;*/
    /*align-content: end;*/
    margin-top: 20px;
}
.navLinkCancel {
    text-decoration: none;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    background: linear-gradient(90deg, rgb(43, 164, 156) 0%, rgb(14, 99, 121) 100%);
    color: lightgoldenrodyellow;
    border: none;
    margin-left: 1%;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}
@media(max-device-width: 678px) {
    .navLinkCancel {
        font-size: 18px;
    }
}
.navLinkCancel:hover{
    /*background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);*/
    background: linear-gradient(90deg, rgb(25, 208, 201) 0%, rgb(21, 139, 169) 100%);
    color: #f8f8f6;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    margin-right: 2px;

}
